<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- 이름이 dataSource 객체 1개를 만듦
		 db의 Connection 객체 설정
	-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.mariadb.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mariadb://localhost:3306/classdb</value>
		</property>
		<property name="username">
			<value>scott</value>
		</property>
		<property name="password">
			<value>1234</value>
		</property>
	</bean>

</beans>